<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUCCEFULL</title>
</head>
<body>
    <h1>Your note is succefully created</h1>
    <h2> for going to the homepage click the button below</h2>
    <a href="/"><button>Home</button></a>
</body>
</html>