body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  a {
    text-decoration: none;
    color: #007BFF;
  }
  
  a:hover {
    text-decoration: underline;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #333; */
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    width: 100%; /* Ensures padding is included in the width */
  }
  
  /* .heading styles */
  .heading {
    /* width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #007BFF;
    padding: 20px;
    box-sizing: border-box; /* Ensures padding is included in the width */
    /* color: white; /* Add contrast for visibility */
    /* margin-bottom: 20px;   */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #333; */
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    /* background-color: #007BFF; */
  }
  .notes{
    font-size: 2rem;
    background-color:rgb(233, 233, 233);
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid lightgray;
    margin-bottom: 2rem;
    margin: 2rem;
    margin-left: 9rem;
 
  }
  .title{
    color: #333;
    font-weight: bold;
  }
  .summary{
    color:dodgerblue;
  }